@media(max-width: 450px){

    h1{
        font-size: 40px;
    }
    .menu{
        width: 400px;
        padding: 40px;

    }

    h1{
        font-size: 25px;
        margin: 0 auto 30px;
    }

    .caixinha{

        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
        align-items: center;
        
        
    }

    .botao{
        border: none;
        height: 30px;
        font-size: 12px;
        margin: 5px 110px 20px ;
    }

    .tarefas{
        height: 35px;
        width: 300px;
        margin: 10px auto;
        
    
    }

    img {
        height: 20px;
        opacity: 1;
    }

}
